html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 30px;
  background-color: var(--background-body);
  font-family: var(--font-primary);
  color: var(--primary-text);
  font-size: 15px;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

::selection {
  color: var(--cyberpunk-select);
  background: var(--cyberpunk-hyperlink);
}

a {
  font-family: var(--font-header);
  color: var(--cyberpunk-hyperlink);
}

p {
  color: var(--secondary-text);
  opacity: 0.8;
}

.portfolio-frame {
  max-width: 1600px;
  display: flex;
  row-gap: 12px;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--cyberpunk-primary);
  border-radius: 3px;
  padding: 30px 5%;
  background: linear-gradient(
    to right,
    var(--background-charcoal) 0%,
    var(--background-slate) 100%
  );
}

.brand-logo {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}

.term-user {
  color: var(--primary-text);
}

.term-prompt {
  color: var(--cyberpunk-primary);
  margin-left: 4px;
}

.term-cursor {
  color: var(--cyberpunk-primary);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.site-nav {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 16px;
}

.nav-link {
  text-decoration: none;
  color: var(--secondary-text);
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.nav-link span {
  margin-right: 5px;
  opacity: 0;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--cyberpunk-hyperlink);
  opacity: 1;
}

.nav-link.active {
  opacity: 1;
  color: var(--cyberpunk-secondary);
}

.nav-link.active:hover {
  opacity: 1;
  color: var(--window-close);
  transform: scale(1.1);
  cursor: not-allowed;
}

.nav-link:hover span,
.nav-link.active span {
  opacity: 1;
}

.btn-emoji-solid {
  display: inline-block;
  background-color: var(--cyberpunk-primary);
  color: var(--primary-text);
  padding: 14px 18px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid var(--cyberpunk-select);
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.btn-emoji-solid:hover {
  background-color: var(--cyberpunk-secondary);
  box-shadow: 0 0 15px var(--cyberpunk-primary);
  text-shadow: 0 0 8px var(--container-shadow);
  border: 2px solid var(--background-body);
}

.btn-cyber-solid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    var(--cyberpunk-primary) 0%,
    var(--cyberpunk-secondary) 100%
  );
  border: 2px solid var(--cyberpunk-primary);
  border-radius: 50px;
  padding: 8px 8px 8px 32px;
  font-family: var(--font-header);
  color: var(--secondary-text);
  text-shadow: 0 0 8px var(--container-shadow);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  transition: all 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 4px;
}

.btn-cyber-solid .btn-text {
  margin-right: auto;
  margin-left: auto;
}

.btn-cyber-solid .btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-body);
  border: 2px solid var(--secondary-text);
  color: var(--secondary-text);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.btn-cyber-solid:hover {
  border-color: var(--cyberpunk-hyperlink);
  box-shadow: 0 4px 15px var(--container-shadow);
  text-shadow: 0 0 8px var(--container-shadow);
  background: linear-gradient(
    90deg,
    var(--cyberpunk-hyperlink) 0%,
    var(--cyberpunk-success) 100%
  );
  color: var(--cyberpunk-select);
}

.btn-cyber-solid:hover .btn-icon {
  transform: translateX(-4px);
}

.btn-cyber-solid:active {
  transform: scale(0.96);
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  border: 2px solid var(--cyberpunk-primary);
  border-radius: 3px;
  background: linear-gradient(
    to right,
    var(--background-charcoal) 0%,
    var(--background-slate) 100%
  );
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--background-slate);
  border: 2px solid var(--container-border);
  border-radius: 3px;
  color: var(--primary-text);
  text-decoration: none;
  transition: all 0.3s;
}

.social-btn:hover {
  background-color: var(--cyberpunk-select);
  border-color: var(--cyberpunk-hyperlink);
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 412px) {
  body {
    font-size: 14px;
    padding: 5.3%;
  }

  main {
    row-gap: 18px;
  }

  .portfolio-frame {
    row-gap: 18px;
  }

  .site-header,
  .site-footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 5%;
    gap: 15px;
  }

  .btn-emoji-solid {
    padding: 12px 20px;
  }

  .btn-cyber-solid {
    font-size: 14px;
    height: auto;
  }

  .btn-cyber-solid .btn-icon {
    width: 30px;
    height: 30px;
  }

  .social-btn {
    width: 30px;
    height: 30px;
  }
}
